<!DOCTYPE html>
<html>
  <head>
    <title>Roux Meetups--Speakers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel='stylesheet' href='/css/style.css' />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab' rel='stylesheet' type='text/css'>

  </head>
  <body id="speakerList">
      <% include /partials/content/header.ejs %>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <article class="speakerslist ">
            <div class="container">
              <div class="row">
                <% speakers.forEach((speakerObj) =>{ %>
                  
                  <div class="col-sm-8 ">
                    <h3 class="speakerslist-title">Art in Full Bloom</h3>
                    <h5 class="speakerslist-name">with <a href="/speakers/<%= speakerObj.shortname %>">Lorenzo Garcia</a></h5>
                    <p class="speakerslist-info">
                      <a href="/speakers/<%= speakerObj.shortname %>">
          
                        
          
                        
                          <img class="speakerslist-img img-circle pull-left" src="/images/speakers/<%= speakerObj.shortname %>_tn.jpg" alt="Photo of Lorenzo Garcia"></a>
                        
                      </a>
          
                      
                    </a>
          
                      
                       <% = speakerOBJ.summary %>
                       <% }) %>
                      
                    </p>
                  </div>
                  
                  <div class="col-sm-8 ">
                    <h3 class="speakerslist-title">Deep Sea Wonders</h3>
                    <h5 class="speakerslist-name">with <a href="/speakers/Hillary_Goldwynn">Hilary Goldywynn Post</a></h5>
                    <p class="speakerslist-info">
                      <a href="/speakers/Hillary_Goldwynn">
          
                        
          
                        
                          <img class="speakerslist-img img-circle pull-left" src="/images/speakers/Hillary_Goldwynn_tn.jpg" alt="Photo of Hilary Goldywynn Post"></a>
                        
                      </a>
          
                      
                    </a>
          
                      
                        
                          Hillary is a sophomore art sculpture student at New York University, and has won the major international prizes for painters, including the Divinity Circle and the International Painter&#39;s Medal. Hillary&#39;s exhibit features paintings that contain only water including waves, deep sea, and river.
                        
                      
                    </p>
                  </div>
                  
                  <div class="col-sm-8 ">
                    <h3 class="speakerslist-title">The Art of Abstract</h3>
                    <h5 class="speakerslist-name">with <a href="/speakers/Riley_Rewington">Riley Rudolph Rewington</a></h5>
                    <p class="speakerslist-info">
                      <a href="/speakers/Riley_Rewington">
          
                        
          
                        
                          <img class="speakerslist-img img-circle pull-left" src="/images/speakers/Riley_Rewington_tn.jpg" alt="Photo of Riley Rudolph Rewington"></a>
                        
                      </a>
          
                      
                    </a>
          
                      
                        
                          The leader of the MMA artistic movement in his hometown of Portland, Riley Rudolph Rewington draws a crowd wherever he goes. Mixing street performance, video, music, and traditional art, Riley has created some of the most unique and deeply poignant abstract works of his generation.
                        
                      
                    </p>
                  </div>
                  
              </div><!-- row -->
            </div><!-- container -->
          </article>
        </div><!-- primary -->
        <aside class="col-sm-4">
          <article class="sidebar">
            <h1 class="sidebar-title">Artwork on display</h1>
            <p class="sidebar-body">While you attend the conference, head over to our gallery where you can check out some of the work from our speakers.</p>
            <div class="pixgrid clearfix">
           <% artwork.forEach((imageURL)=>{ %>
            <img src="images/artwork/<% =  imageURL %>" alt="">
           <% }) %>
            </div>
          </article>
        </aside><!-- secondary -->
      </div>
    </div><!-- container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    
      <script src="/js/pixgrid.js"></script>
    

    <script src="/js/chat.js"></script>
    <script src="/reload/reload.js"></script>

  </body>
</html>
